/* This is an example of using Sass, otherwise plain CSS works too*/

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

$login-background: black;
$login-font: #fff;
$primary-background: white;
$primary-font: black;

.login-page-body {
  background-color: $login-background;
  color: $login-font;
}

.manager-page-body {
  background-color: $primary-background;
  color: $primary-font;
}

.body_guest-page {
  @extend .manager-page-body;
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main";
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.header_guest-page {
  border: 2px solid pink;
  float: right;
  grid-area: header;
  h1,
  h2 {
    margin: 20px;
  }
}

.aside_guest-page{
  grid-area: aside;
}

.main_guest-page {
  border: 2px solid black;
  float: right;
  position: relative;
  grid-area: main;
  padding: 15px;
  height: 90vh;
  overflow: scroll;
}


img {
  width: 75%;
  display: inline;
}

.main_login-page {
  display: flex;
}

.div_button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 23%;
}

button {
  margin: 25px auto;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 3px;
  &:hover,
  &:focus {
    border: 2px solid blue;
  }
}

.button_new-search {
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  padding: 10px;
}

.error-message,
.error_no-rooms {
  color: red;
}

.div_dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid lightblue;
  padding: 15px;
  border-radius: 4px;
}

.section_dashboard {
  border: 2px solid lightgreen;
  padding: 15px;
  border-radius: 4px;
}

.guest-dashboard-booking-list {
  height: 90vh;
  overflow: scroll;
}

.div_guest-bookings,
.div_available-rooms {
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
}

.hide {
  display: none;
}
