/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

%main-portal {
  float: right;
  position: relative;
  grid-area: main;
}

%body-portal {
  background-color: $portal-background;
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main";
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
}

%header-portal {
  text-align: center;
  float: right;
  grid-area: header;
}

%bookings-display {
  background-color: $accent-color-light;
  color: $accent-color;
}

%rooms-display {
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
  background-color: $accent-color-light;
  color: $accent-color;
}

// LOGIN PAGE STYLING
.login-page-body {
  background-color: $login-background;
  color: $login-font;
}

img {
  width: 75%;
  display: inline;
}

h1 {
  font-size: 3em;
}

h2,
h3 {
  color: $accent-color;
}

.main_login-page {
  display: flex;
}

.div_button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 23%;
}

button {
  margin: 25px auto;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 3px;
  @include border-base($accent-color);

  &:hover,
  &:focus {
    @include focus-base()
  }
}

.button_new-search {
  @include border-base($accent-color);

  width: 20%;
}

.submit_book-room {
  @include border-base($accent-color);
  @include button-base();
}

form {
  display: flex;
  flex-direction: column;
}

input {
  @include border-base($accent-color);
  @include button-base();
  &:hover,
  &:focus {
    @include focus-base()
  }
}

label {
  font-size: 1.4em;
}
// GUEST PORTAL STYLING
.body_guest-page {
  @extend %body-portal;
}

.header_guest-page {
  @extend %header-portal;
  @include border-base($accent-color);
  background-color: $primary-background;
  h1 {
    margin: 20px;
    color: $accent-color;
  }
}

.aside_guest-page {
  @include border-base($accent-color);
  background-color: $primary-background;

  grid-area: aside;
}

.main_guest {
  @include border-base($accent-color);
  @extend %main-portal;
  background-color: $primary-background;
  height: 90vh;
  overflow: scroll;
  text-align: center;
}

.guest-dashboard-booking-list {
  height: 90vh;
  overflow: scroll;
  border-left: 0;
  border-right: 0;
}

.div_guest-bookings {
  @extend %bookings-display;
  @include border-base($accent-color);
  // h4,
  // p {
  //   margin: 0;
  //   font-size: 1.7em;
  // }
}

.div_available-rooms {
  @extend %rooms-display;
  @include border-base($accent-color);

}

// MANAGER PORTAL STYLING

.body_manager-page {
  @extend %body-portal;
}

.header_manager-page {
  @extend %header-portal;
  @include border-base($accent-color);
  background-color: $primary-background;

  h1{
    color: $accent-color;
  }
}

.aside_manager-page {
  @include border-base($accent-color);
  background-color: $primary-background;
  grid-area: aside;

}

.main_manager {
  @extend %main-portal;
  background-color: $portal-background;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.div_main {
  @include border-base($accent-color);
  background-color: $primary-background;

  height: 90vh;
  overflow: scroll;
  width: 50%;
  text-align: center;
}

.ul_guest-search-matches {
  list-style: none;
  font-size: 1.6em;
  padding: 0;
}

.button_searched-user-name {
  width: 80%;
  cursor: pointer;
  font-size: .7em;
  padding: 5px;
  margin: 5px;
  border: 2px solid $accent-color;
  &:hover,
  &:focus {
    @include focus-base()
  }
}

.div_selected-user-bookings {
  @extend %bookings-display;
  @include border-base($accent-color);
  h4,
  p {
    margin: 8px;
    font-size: .7em;
  }
}

select {
  @include border-base($accent-color);
  @include button-base();
  margin: 10px;
  height: 53px;
  &:hover,
  &:focus {
    @include focus-base()
  }
}

.error {
  color: red;
  font-size: 1.3em;
}

.error_select-guest {
  font-size: 2em;
  font-weight: bold;
}

.div_dashboard {
  @include border-base($accent-color);

  display: flex;
  flex-direction: column;
  text-align: center;
}

.section_dashboard {
  @include border-base($accent-color);
  padding: 0;
}

.div_available-rooms {
  @extend %rooms-display;
  @include border-base($accent-color);
}

.hide {
  display: none;
}

@media screen and (max-width: 650px) {
  // %body-portal {
  //   background-color: $portal-background;
  //   display: grid;
  //   grid-template-areas:
  //     "header header"
  //     "aside aside"
  //     "main main";
  //   grid-template-columns: 30% 70%;
  //   grid-template-rows: 15% 61%;
  // }

  .aside_manager-page {
    @include border-base($accent-color);
    background-color: $primary-background;
    grid-area: aside;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
  }

  .section_dashboard {
    width: 23%;
  }

  .body_manager-page {
    background-color: $portal-background;
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main";
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 61%;
  }

}
