
@media screen and (max-width: 875px) {
  .main_login-page {
    display: grid;
  }

  .button_guest-login,
  .button_manager-login {
    width: 40%;
    margin: 5px auto 5px auto;
  }

  .div_button-container {
    width: 100%;
    padding: 0;
  }

  .img_background {
    width: 90%;
    margin: 10px auto 10px auto;
  }

  .aside_manager-page {
    @include border-base($accent-color);
    background-color: $primary-background;
    grid-area: aside;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .section_dashboard {
    width: 23%;
  }

  .body_manager-page {
    background-color: $portal-background;
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main";
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 15% 70%;
  }

  .body_guest-page {
    background-color: $portal-background;
    display: grid;
    grid-template-areas:
      "header header"
      "aside main";
    grid-template-columns: 45% 55%;
    grid-template-rows: 12% 88%;
  }

  .header_guest-page {
    h1 {
      font-size: 2em;
      margin: 0;
    }
  }

  .aside_guest-page {
    .section_dashboard {
      width: 100%;
      margin: 3px;
      .div_guest-bookings {
        margin: 3px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .button_guest-login,
  .button_manager-login {
    width: 90%;
    margin: 5px auto 5px auto;
  }

  .body_manager-page,
  .body_guest-page {
    display: flex;
    flex-direction: column;
  }

  .main_manager {
    display: flex;
    flex-direction: column;
    div {
      width: 95%;
    }
  }

  .aside_manager-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h2 {
      width: 90%;
      margin: 0;
    }
  }

  .header_manager-page {
    h1 {
      margin: 0;
      padding: 0;
      font-size: 2em;
    }
  }

  .section_dashboard {
    width: 90%;
    h3,
    p {
      margin: 0;
    }
  }
}
