@mixin border-base($color) {
  border-radius: 3px;
  padding: 15px;
  margin: 10px;
  border: 2px solid $color;
}

@mixin button-base() {
  width: 175px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

@mixin focus-base() {
  outline: $accent-color solid 4px;
}
